a{
    color: #e9c40f;
    font-weight: bolder;
}
label{
    color: black;
    font-weight: bolder;
}
@media screen and (max-width: 574px) {
    header{
        margin-bottom: 50px;
    }
    header h1{
        font-size: 3em;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 410px) {

    header h1{
        font-size: 2em;
    }
}
